{% extends 'projects/base.html' %} {% load static %} {% block content %}
<div class="container">
  <h1>Projects</h1>
  <div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-2">
      <div class="card">
        <img class="card-img-top custom-img" src="{% static project.image %}" />
        <div class="card-body custom-card-body">
          <div class="row">
            <h5 class="card-title col">{{ project.title }}</h5>
            <p class="col">Created: {{ project.date|date:"d.m.Y" }}</p>
          </div>
          <div class="row mb-2">
            <p class="card-text">{{ project.short_description | safe}}</p>
          </div>
          <div class="row">
            <div class="d-flex justify-content-center">
              <a href="{% url 'projects:project_details' project.pk %}" class="btn btn-primary stretched-link"> Read More </a>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted"> Last updated: {{ project.last_updated|date:"H:i d.m.Y" }} </small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
